<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
    </head>

    <body class="text-sm">
        <aside class="fixed h-full p-3 text-white bg-sky-600 sidebar--width">
            <div class="flex justify-center">
                <img class="rounded-full" src="https://placehold.co/100.png" alt="user-image" />
            </div>
            <p class="text-center text-base uppercase font-bold my-3">
                Nguyễn Nhật Trường
            </p>
            <hr />
            <ul class="list-none">
                <li>
                    <a th:href="@{/admin/patients}" class="block p-2 hover:bg-sky-500">Quản lý bệnh nhân</a>
                </li>
                <li>
                    <a href="#" class="block p-2 hover:bg-sky-500">Quản lý bệnh viện</a>
                </li>
                <li>
                    <a href="#" class="block p-2 hover:bg-sky-500">Quản lý hồ sơ sức khỏe</a>
                </li>
            </ul>
            <hr />
            <ul class="list-none">
                <li><a href="#" class="block p-2 hover:bg-sky-500">Cài đặt</a></li>
                <li><a href="#" class="block p-2 hover:bg-sky-500">Đăng xuất</a></li>
            </ul>
        </aside>
        <div class="main--align">
            <header class="bg-white border-b border-slate-300 px-3 py-5">
                <a href="#" class="text-2xl font-black text-sky-600">
                    FDC | MEDICAL INFOMATION
                </a>
            </header>
            <main class="p-3">
                <span class="uppercase font-bold text-sky-600">Thông tin bệnh nhân</span>
                <form th:action='@{${action}}' method="post" th:object='${patient}' class="grid grid-cols-1 gap-y-3 mt-3">
                    <div th:if="${patient.patientId != null}" class="block">
                        <label for="patientId">Mã bệnh nhân</label>
                        <input type="text" th:field="*{patientId}" id="patientId" name="patientId"
                               class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none" readonly="true" tabindex="1" />
                    </div>
                    <div class="grid grid-cols-3 gap-2">
                        <div>
                            <label for="fullname">Họ và tên</label>
                            <input type="text" th:field="*{fullname}" id="fullname" name="fullname"
                                   class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none" 
                                   tabindex="2" required maxlength="200" />
                        </div>
                        <div>
                            <label for="gender">Giới tính</label>
                            <select th:field="*{gender}" name="gender" id="gender"
                                    class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none" tabindex="3"
                                    required>
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div>
                        <div>
                            <label for="dateOfBirth">Ngày sinh</label>
                            <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth" name="dateOfBirth"
                                   class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none" tabindex="4" />
                        </div>
                    </div>
                    <div class="grid grid-cols-3 gap-2">
                        <div>
                            <label for="phone">Số điện thoại</label>
                            <input type="tel" th:field="*{phone}" id="phone" name="phone"
                                   class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none" 
                                   tabindex="5" required maxlength="20"/>
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" th:field="*{email}" id="email" name="email"
                                   class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none" 
                                   tabindex="6" maxlength="200"/>
                        </div>
                        <div>
                            <label for="idNumber">CCCD/Căn cước</label>
                            <input type="text" th:field="*{idNumber}" id="idNumber" name="idNumber"
                                   class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none" 
                                   tabindex="7" maxlength="20"/>
                        </div>
                    </div>
                    <div>
                        <label for="address">Địa chỉ</label>
                        <input type="text" th:field="*{address}" id="address" name="address"
                               class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none" 
                               tabindex="8" maxlength="200">
                    </div>
                    <div>
                        <label for="note">Ghi chú</label>
                        <textarea type="text" th:field="*{note}" id="note" name="note"
                                  class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none"
                                  tabindex="9"></textarea>
                    </div>
                    <div th:if="${patient.patientId != null}" class="grid grid-cols-2 gap-2">
                        <div>
                            <label for="createdDate">Ngày tạo</label>
                            <input type="datetime" th:field="*{createdDate}" id="createdDate" name="createdDate"
                                   class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none" readonly="true"/>
                        </div>
                        <div>
                            <label for="updatedDate">Ngày cập nhật</label>
                            <input type="datetime" th:field="*{updatedDate}" id="updatedDate" name="updatedDate"
                                   class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none" readonly="true"/>
                        </div>
                    </div>
                    <div class="flex justify-end">
                        <a th:href="@{/admin/patients}" class="px-5 text-sky-600 hover:text-sky-500">
                            <i class="fa fa-arrow-left text-lg"></i>
                        </a>
                        <button type="submit" class="bg-sky-600 px-5 text-white hover:bg-sky-500">
                            <i class="fa fa-save text-lg"></i>
                        </button>
                    </div>
                </form>
            </main>
        </div>
    </body>
</html>