@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
}
.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.container__right {
  background-color: #0284c7;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #0284c7;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 40px;
  padding: 0 20px;
}
form {
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 8px;
  width: 60%;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
h3 {
  color: #777;
  text-align: center;
  text-transform: uppercase;
}
label {
  color: #777;
}
#fullname,
#date-of-birth,
#phone,
#password {
  min-width: 100%;
  padding: 10px 5px;
  border: 1px solid #999;
  border-radius: 3px;
}
input:focus {
  outline: none;
}
.container--action {
  text-align: center;
}
.container--action > button[type="submit"] {
  padding: 10px 30px;
  background-color: #0284c7;
  border-radius: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}
.container--action > button[type="submit"]:hover {
  background-color: #0070a8;
}

.container--action > a {
  padding: 10px 30px;
  color: #777;
  border: 1px solid #777;
  border-radius: 30px;
  text-decoration: none;
  margin-right: 10px;
}
.container--action > a:hover {
  background-color: #777;
  color: #fff;
}
