<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Update</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <form th:action='@{${action}}' method="post" th:object='${wpTable1}'>
            <input th:field="*{id}" type="hidden" id="id" name="id"/>
            <input th:field="*{fullname}" type="text" id="fullname" name="fullname" required="true" maxlength="200"/>
            <input th:field="*{dateOfBirth}" type="date" id="dateOfBirth" name="dateOfBirth"/>
            <button type="submit">Submit</button>
            <a th:href="@{/}">Cancel</a>
        </form>
    </body>
</html>
