<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>FDC | FAMILY DATA CENTER</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
</head>

<body class="h-screen flex items-center justify-center text-sm bg-sky-600">
    <div class="w-3/5 h-2/4 grid grid-cols-3 bg-white">
        <div class="p-3 content-center border-r">
            <h1 class="text-5xl font-black text-sky-600 text-center">FDC</h1>
            <h2 class="text-xl font-black text-sky-600 text-center uppercase">Family data center</h2>
        </div>
        <div class="col-span-2 p-3 content-center bg-white">
            <h1 class="mb-3 text-3xl font-bold text-sky-600 uppercase">Đăng nhập</h1>
            <input type="tel" name="phone" id="phone" placeholder="Nhập số điện thoại"
                class="w-full p-2 border focus:outline-none">
            <div class="grid grid-cols-2 my-3">
                <div>
                    <a href="#" class="text-sky-600 hover:underline">Quên mật khẩu?</a>
                </div>
                <div class="text-end">
                    <a href="register.html" class="text-sky-600 p-2 font-bold hover:underline">Tạo tài khoản</a>
                    <button type="button" class="bg-sky-600 text-white font-bold p-2 hover:bg-sky-500">
                        Tiếp theo
                    </button>
                </div>
            </div>
            <hr>
            <h6 class="uppercase text-gray-500 font-bold text-center mt-3">Hotline hỗ trợ</h6>
            <p class="text-gray-500 text-center">0865761892</p>
        </div>
    </div>
</body>

</html>