<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/register.js"></script>
    <title>FDC | FAMILY DATA CENTER</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
</head>

<body class="h-screen flex items-center justify-center text-sm bg-sky-600">
    <div class="w-3/5 bg-white p-5">
        <form action="#">
            <h1 class="text-3xl font-black text-sky-600">FDC | FAMILY DATA CENTER</h1>
            <h2 class="text-3xl font-bold text-sky-600 uppercase my-3">Đăng ký</h2>
            <label for="fullname">Họ và tên<span class="text-red-500">*</span></label>
            <input type="text" name="fullname" id="fullname"
                class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none" required>
            <div class="grid grid-cols-3 gap-2 my-3">
                <div>
                    <label for="gender">Giới tính<span class="text-red-500">*</span></label>
                    <select name="gender" id="gender"
                        class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                </div>
                <div>
                    <label for="dateOfBirth">Ngày sinh<span class="text-red-500">*</span></label>
                    <input type="date" name="dateOfBirth" id="dateOfBirth"
                        class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none text-xs" required>
                </div>
                <div>
                    <label for="phone">Số điện thoại<span class="text-red-500">*</span></label>
                    <input type="tel" name="phone" id="phone"
                        class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none" required>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-2 my-3">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email"
                        class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none">
                </div>
                <div><label for="ID">CCCD/Căn cước</label>
                    <input type="text" name="ID" id="ID"
                        class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none">
                </div>
            </div>
            <label for="address">Địa chỉ</label>
            <input type="text" name="address" id="address"
                class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none">
            <div class="my-3">
                <label for="password">Tạo mật khẩu<span class="text-red-500">*</span></label>
                <input type="password" name="password" id="password"
                    class="w-full p-2 bg-slate-100 border-b border-slate-300 focus:outline-none" required>
                <input type="checkbox" id="show-pass" onchange="togglePassword()">
                <label for="show-pass">Hiện mật khẩu</label>
            </div>
            <div class="text-end">
                <a href="login.html" class="text-sky-600 p-2 font-bold hover:underline">Trở lại</a>
                <button type="button" class="bg-sky-600 text-white font-bold p-2 hover:bg-sky-500">Đăng ký</button>
            </div>
        </form>
    </div>
</body>

</html>