<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create password</h1>
    <form action="#">
    <input type="tel" id="phone-password" readonly>
    <input type="password" placeholder="Password">
    <input type="password" placeholder="Confirm password">
    <a href="#">Quay lại</a>
    <button type="submit">Tạo tài khoản</button>
</form>
    <script src="/static/public/js/demo.js"></script>
</body>
</html>